Python/Portfolio_Analyzer_Project/Portfolio_Analyzer/.vscode/
Python/Portfolio_Analyzer_Project/Portfolio_Analyzer/venv/
Python/Portfolio_Analyzer_Project/Portfolio_Analyzer/app/__pycache__
Python/Portfolio_Analyzer_Project/Portfolio_Analyzer/app/build/
Python/Portfolio_Analyzer_Project/Portfolio_Analyzer/app/app.spec
